server:
  port: ${SERVER_PORT:8081}

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/users}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
    show-sql: ${SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

appDescription: "Pragma Powerup"
appVersion: "1.0.0"

# Configuración de JWT
jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationPragmaPowerUp2024SecureKey}
  expiration: ${JWT_EXPIRATION:60000}  # 24 horas en milisegundos

# Configuración de SpringDoc OpenAPI
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    enabled: true
    path: /api-docs

